<style>
  .btn-search{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover{
    background-color: #fe424d;
    color: white;
  }
  .btn-search i{
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listing"><i class="fa-solid fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listing">Explore</a>         
        </div>
        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search"  action="/listing/search-results" >
            <input name="country" class="form-control me-2 search-inp" type="search"  placeholder="Enter country / location">
            <button class="btn btn-search" type="submit"> <i class="fa-solid fa-magnifying-glass"></i>Search </button>
          </form>
        </div>
        <div class="navbar-nav ms-auto"> <!--ms is to display buttons on ryt side and req.user return ibh if it returns then it means logged in if not not logged in -->
          <a class="nav-link" href="/listing/new">Add wonder</a>
          <% if(!currUser){ %>
          <a class="nav-link"  href="/signup""><b>Sign-up</b></a>
          <a class="nav-link" href="/login"><b>Log-in</b></a>
          <% } %> <%if(currUser){ %>
          <a class="nav-link" href="/logout"><b>Log-out</b></a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>

  <!-- removing aria things changing href change lg to md -->