<% layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="col-8 offset-2" >
            <br>
    <h3>Create a new Listing</h3>
     <form method="POST" action="/listing" novalidate class="needs-validation"  enctype="multipart/form-data">  <!-- No validate is removes default browser settings and makes bootstrap as main    enctype (encoding type) for files of any type -->
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
            <div class="valid-feedback">Looks Good !</div>
        </div>       

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter description"  class="form-control" required></textarea>
        </div>        
        <div class="mb-3"> 
            <label for="image" class="form-label">Upload Listing Image</label>     
            <input name="listing[image]" type="file" class="form-control" >       
        </div>      
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">price</label>   
                <input name="listing[price]" placeholder="10000" class="form-control"  required/>
               <div class="invalid-feedback">Price should be in number</div>
            </div>       
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">country</label>  
                <input name="listing[country]" placeholder="India" class="form-control" required>  
                <div class="invalid-feedback">Country should be valid</div>
            </div>   
        </div>             
        <div class="mb-3">
            <label for="location" class="form-label">location</label>       
            <input name="listing[location]" placeholder="Jaipur,Rajasthan" type="text" class="form-control" required>    
            <div class="invalid-feedback">location should be vaild</div> 
        </div>  
        <br>     
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>       
            <select name="listing[category]" id="category" class="form-control" required>
                <option value="" disabled selected>Select a category</option>
                <option value="beach">Beach</option>
                <option value="mountain">Mountain</option>
                <option value="hot-spots">Hot-spots</option>
                <option value="iconic-cities">Iconic-cities</option>
                <option value="castles">Castles</option>
                <option value="camping">Camps</option>
                <option value="farms">Farms</option>
                <option value="dome">Domes</option>
                <option value="house-boats">House-boats</option>              
            </select>
            <div class="invalid-feedback">Please select a category</div> 
        </div> 
        <br>
        <button class="btn btn-dark add-btn">Add</button>
     </form>
    </div>
  </div>

