<% layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="col-6 offset-3" >
            <h1>Sign Up to Wanderlust</h1>
            <form action="/signup" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" id="username" type="text" class="form-control" required>
                    <div class="valid-feedback">Looks Good !</div>
                </div>    
                <div class="mb-3">
                    <label for="email" class="form-label">E-Mail</label>
                    <input name="email" id="email" type="text" class="form-control" required>
                    <div class="valid-feedback">Looks Good !</div>
                </div> 
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" id="password" type="password" class="form-control" required>
                    <div class="valid-feedback">Looks Good !</div>
                </div> 
                <button class="btn btn-success">Sign-up</button>
            </form>

        </div>    
    </div>
